
# please read `readme.md` about more of the requirements
# don't write non-ascii characoter in the file
# conda install python==3.9
#librosa0.9.2 Will install some dependent Matplot versions (otherwise it may cause problems)

#pip install -r requirements.txt
notebook
librosa==0.9.2 
scikit-learn
pandas
matplotlib
numpy
wave
soundfile
tqdm
pyaudio
scipy
joblib
ipdb
pydub
pluggy
psgdemos #this contain psgdemos and PySimpleGUI framework
black #the python code formatter of th project
# playsound
# tensorflow==2.10.0